.class-include-title-and-icon-add-admin{
    width: 100%;
    display: block;
    padding-bottom: 5%;
}

.class-collection-user-list{
    width: 100%;
}
.class-for-title-control-user{
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #366e5f;
}