@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 16px;
  font-family: 'Roboto Slab' !important;
  min-height: 100vh;
  background-color: white;
  position: relative;
  button,
  input[type='submit'] {
    cursor: pointer;
  }
}

#App {
  padding: 0em 15%;
  padding-top: 6em;
  margin-bottom: 40vh;

  #PageContent {
    margin-top: 1em;
    width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

@media all and(max-width: 1280px) {
  #App {
    padding: 8em 10%;
  }
}

@media all and(max-width: 900px) {
  #App {
    padding: 8em 1em;
  }
}

@media all and(max-width: 670px) {
  #App {
    padding: 15em 1em;
  }
}
