.View-Invoice-product-price{
    padding-left: 3rem;
}
.View-Invoice-product-quantity{
    padding-left: 2rem;
}

.color-green{
    background-color: #498374;
    border: #498374;
}

.button-update-product:hover{
    background-color: #559483;
}
tr td {
    padding: 1rem 0rem;
}
.admin-invoice-status-label{
    padding-right: 20%;
}
.admin-invoice-status-button{
    background-color: #498374;
    border: 1px solid #498374;
    padding: 0.3rem;
    border-radius: 5px;
    color: #fff;
}
.admin-invoice-status-button:hover {
    background-color: #559483;
}


.form-notification-admin-invoice-contrainer{
    
    width: 100%;
}

.button-final{
    display: flex;
    justify-content: center;
   width: 80%;
   padding-left: 20%;
}

.notification-for-user{
    font-weight: 600;
    margin-top: 2rem;
}

.input-notificaion-user {
    outline: none;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.margtop-1rem{
    margin-top: 0rem !important;
}
.color-green-0-2{
    background-color: #254b41d5;
    border: none;
}
.left4rem{
    margin-left: 6rem;
}

.color-status-invoice{
    color: #498374;
    font-size: 1.2rem;
}