* {
    font-family: 'Roboto', sans-serif;
    color: #555;
}

.container-user-purchase{
    display: block;
    background-color: #fff;
}

.container-user-purchase .user-title h1{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1%;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}

.container-user-purchase .break-title-and-info{
    margin: 2rem 0rem;
    color: #333;
    outline: none;
}

.purchase-list-item-purchase-is-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.purchase-list-item-purchase-is-empty .icons-shopping-cart{
    width: 6rem;
    height: 6rem;
    margin: 2rem;
}
.purchase-list-item-purchase-is-empty .content{
    font-weight: 600;
}

