.container-recently-view a{
    text-decoration: none;
}

.container-recently-view {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 8rem;
    margin-top: 4rem;
}


.title-recently-view h2{
    text-transform: capitalize;
    margin-top: 2%;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-size: 1.5rem;
}

.title-recently-view h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #498374;
    height: 3px;
    box-sizing: border-box;
    width: 70px;
}

.container-product-recently-view{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row-recently-view{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.click-list-recently-view{
    margin-left: 0px;
    margin-right: 0px;
}

.click-strac-recently-view{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 80%;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.class-icon-back-in-same-product-list{
    width: 40px;
    height: 40px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.class-icon-next-in-same-product-list{
    width: 40px;
    height: 40px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.class-container-same-product-list{
    width: 100%;
    height: 100%;
    display: flex;
}