.tag {
    border-radius: 15px;
    padding:7px 15px;
    background-color: gray;

}

.tagItem {
    margin:5px 0;
}

.tagItem span {
    background: rgb(238, 238, 238);
    font-size: 13px;
    padding: 2px 12px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    color: rgb(36, 36, 36);
    border-radius: 12px;
    margin-bottom: 4px;
}

.input {
    flex: 1 1 0%;
    width: 95px;
    height: 30px;
    padding: 0px 8px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    text-align: left;
    border: 1px solid rgb(184, 184, 184);
    outline: 0px;
    font-size: 13px;
}

.sort-item {
    margin:0 10px;
    padding-bottom: 5px;
}
.sort-item:hover {
    border-bottom: 2px solid blue;
}

.selected {
    border-bottom: 2px solid blue;
    font-weight: bold;
    color: blue;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.margin-top-2-rem {
    margin-top: 2rem;
}

.btn-find-product-price-rating {
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 2rem;
    text-align: center;
    border: none;
    background-color: #498374;
    color:#fff;
}
.btn-find-product-price-rating:hover {
    background-color: #559483;
}


.container-filter-price-rating span{
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 12px;
}
.container-filter-price-rating-item span{
    cursor: pointer;
    background-color: rgba(27, 168, 255, 0.1);;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    margin-right: 1rem;
    font-size: 12px;
}
.container-filter-price-rating-item span i{
    cursor: pointer;
    margin-left: 0.4rem;
    font-size: 12px;
}
.container-filter-price-rating-item span i:hover{
    color: #333;
}
.margin-top-1rem{
    margin-top: 1rem;
}
.fillter {
    background-color: (27, 168, 255, 0.1);
}

