.breadcrumb-block {
    height: 2rem;
    list-style:none;
    padding-left: 4rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.breadcrumb-block .mz-breadcrumb-block__list{
   display: flex; 
   margin-left: 0.5rem;
}


.nhutrang a{
    text-decoration: none;
    color: rgba(51, 51, 51, 0.5) !important;
}
.breadcrum-item-name a:hover {
    color: rgba(51, 51, 51, 1) !important;
}

.img-size-icons-home {
    width: 1.4rem;
}

.title-breadcrum{
    font-weight: bold;
    
}