/*NOI DUNG CSS BSBOOK*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .container-footer{
    max-width: 1170px;
    margin: auto;
  }
  
  .container-footer-row{
    display: flex;
    flex-wrap: wrap;
  }

  ul{
    list-style: none;
  }

  .frame-footer{
    background-color: rgb(247, 245, 245);
    padding: 40px 0;
  }
  
  .container-footer-col{
    width: 25%;
    padding: 0 15px;
  }
  
  .container-footer-col h4{
    font-size: 18px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .container-footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #3e7465;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .container-footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .container-footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #333;
    text-decoration: none;
    font-weight: 300;
    color: #333;
    display: block;
    transition: all 0.3s ease;
  }
  
  .container-footer-col ul li a:hover{
    color: #57b199;
    padding-left: 8px;
  }
  
  .container-footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #498374;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(247, 243, 243);
    transition: all 0.5s ease;
  }

  .container-footer-col .social-links .fab{
    color: aliceblue;
    transition: all 1s ease;
  }
  .container-footer-col .social-links .fab:hover{
    color: #333;
  }


  
  /*.container-footer-col .social-links a:hover{
    color: #24262b;
    background-color: #a5d8ca;
  }*/
  
  /*RESPONSIVE*/
  @media(max-with:767px){
    .container-footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media(max-with:574px){
    .container-footer-col{
      width: 100%;
    }
  }