@import '../variables';

#NavBar {
  align-items: center;
  width: 100%;
  height: 5em;
  justify-content: space-around;
  background-color: $base-2;
  border-radius: 0em 0em 1em 1em;
  border: 1px solid black;
  box-shadow: 0px 1px 2px;

  position: fixed;
  top: 0px;
  z-index: 10;

  div {
    display: flex;
    margin: 5px 1.25em;
    align-items: center;
  }

  #Brand {
    font-size: 2rem;
    //font-family: 'Niconne', cursive;
    font-weight: 600;
    color: #e6efff;
    cursor: pointer;
    justify-content: center;
    flex: 1 0 auto;
  }

  #SearchBar {
    flex: 2 1 auto;
    display: flex;
    justify-content: center;
    height: 2.5em;
  }

  #UserButtons {
    display: flex;
    justify-content: center;

    @keyframes hoverButton {
      from {
      }
      to {
      }
    }

    button {
      margin: 0em 0.5em;
      appearance: none;
      width: 3em;
      height: 3em;
      border: none;
      border-radius: 0.5em;
      background-color: $highlight;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 2em;
      }
    }

    button:hover {
      background-color: lighten($color: $highlight, $amount: 5);
    }
  }

  #NavButtons {
    flex: 2 0 auto;
    margin-top: 0em;
    margin-bottom: 0em;
    justify-content: flex-start;
    font-size: 1.1rem;
    div {
      display: inline-block;
      margin: 0em 0em;

      button {
        outline: none;
        background: transparent;
        color: white;
        border: none;
        height: 4em;
        width: 7.5em;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
          background-color: white;
        }
      }
    }
  }
}

@media all and(max-width: 360px) {
  #NavBar {
    flex-direction: column;
    height: 10em;

    #Brand {
      font-size: 2rem;
      flex-grow: 2;
    }

    #SearchBar {
      height: 1.5em;
      flex-basis: 15%;
      flex-grow: 1;
    }
  }
}

@media all and(max-width: 1171px) {
  #NavBar {
    height: 8em;
    #Brand {
      order: 1;
    }
    #UserButtons {
      order: 2;
    }
    #NavButtons {
      order: 1;
    }
    #SearchBar {
      order: 3;
    }
  }
}

@media all and(max-width: 738px) {
  #NavBar {
    // height: 8em;
    #Brand {
      order: 1;
    }
    #UserButtons {
      order: 1;
    }
    #NavButtons {
      order: 1;
    }
    #SearchBar {
      order: 1;
    }
  }
}

#UserButtons > button:nth-child(2) {
  position: relative;

  &:hover {
    border-radius: 0em !important;
    .dropdown {
      display: flex;
      transition: 0.5s;
    }
  }

  .dropdown {
    margin: 0px;
    padding: 0.25em;
    position: absolute;
    width: 10em;
    background-color: darken($color: white, $amount: 10);
    top: 100%;
    right: 0px;

    display: none;
    flex-wrap: wrap;
    opacity: 0.9;
    transition: 0.5s;

    & > div {
      display: flex;
      flex-basis: 100%;
      width: 100%;
      justify-content: center;
      margin: 0px;
      button {
        background-color: inherit !important;
        border-radius: 0px !important;
        width: 100% !important;
        margin: 0px !important;
        outline: none;
        &:hover {
          background-color: lighten($color: $highlight, $amount: 5) !important;
        }
      }
    }
  }
}

@media all and(max-width: 670px) {
  #NavBar {
    height: 15em;
    #Brand {
      order: 1;
      flex-shrink: 1;
      flex-grow: 0;
    }
    #UserButtons {
      order: 1;
      flex-shrink: 1;
    }
    #NavButtons {
      flex-shrink: 1;
      flex-grow: 0;
      order: 1;
    }
    #SearchBar {
      order: 1;
    }
  }
}

@media all and(max-width: 501px) {
  #NavBar {
    #Brand {
      order: 1;
    }
    #UserButtons {
      order: 2;
    }
    #NavButtons {
      order: 1;
    }
    #SearchBar {
      order: 3;
    }
  }
}
