.NotificationContainer {
	cursor: pointer;
	padding: 0.5rem;
}


/*ẩn hiện nội dung thông báo*/

.NotificationContainer-notifi-box {
	width: 300px;
	height: auto;
	opacity: 1;
	position: absolute;
	top: 6rem;
	right: 1rem;
	transition: 0.2s opacity, 250ms height;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.NotificationContainer-notifi-box h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}
.NotificationContainer-notifi-box h2 span {
	color: #f00;
}
.NotificationContainer-notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}
.NotificationContainer-notifi-item:hover {
	background-color: #eee;
}
.NotificationContainer-notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.NotificationContainer-notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.NotificationContainer-notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}

.icon-notifacations i {
	font-size: 1.3rem;
}