.CheckoutContainer{
    font-size: 17px;
}

.h3-checkout{
    color: #333;
    padding: 1rem;
    margin-bottom: 2%;
}

.h2-checkout{
    font-size: 1.2rem;
    color: #333;
    background: rgb(247, 243, 243);
    padding: 1rem;
    margin-bottom: 2%;
}

*{
    box-sizing: border-box;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   
}

.col-25{
    -ms-flex: 25%;
    flex: 25%;
}

.col-75{
    -ms-flex: 25%;
    flex: 25%;
}

.icon-kc{
    margin-left: 1%;
}

.col-25, 
.col-75{
    padding: 0 5%;
    margin-bottom: 3%;
}

.container{
    padding: 3px 18px 13px 18px;
    border: 1px solid lightgray;
    border-radius: 3px;
    
}

.input-checkout{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
}

label{
    margin-bottom: 10px;
}



span.price{
    float: right;
    color: gray;
}

@media (max-with:800px)
{
    .row{
        flex-direction: column-reverse;
    }
    .col-25{
        margin-top: 20px;
    }
}








