.product .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.product  .price-view {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.price-view{
    background-color: white;
    border: 1.5px solid #b3e2d6;
    border-radius: 25px;
}



.price-view:hover{
    background-color: #f3f3f3;
    border: 1.5px solid #b3e2d6;
    border-radius: 25px;
}

.product .child {
    padding: 0 20px;
}

.product-detail-name-col-6-so-luong{
    font-weight: bold;
}

.product .container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.product p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 24px;
}


.product a {
    color: blue
}

.product .square {
    width: 30px;
    height: 30px;
    border: 1px solid #b3e2d6;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product .square p {
    margin: 0 ;
    text-align: center;
    /* line-height: 16px; */
}

.product .count {
    width: 40px;
    border: none;
}

.product .hover {
    cursor: pointer;
}

.product .addToCard {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: #498374
}

.product .addToCard:hover {
    background-color: #559483
}

.product-detail-name-col-6 p{
    font-size: 1.7rem;
    font-weight: 600;
}

.product .center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

 .white {
    color: white
}

.product-detail-name-col-6-span{
    font-weight: bold;
}


.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33333%;
}

.col-8 {
    width: 66.66666%;
}

.product .less {
    height: 200px;
    overflow: hidden;
    
}
 
.product .readmore {
    margin-bottom: 100px;
    color: blue;
}

.sml-text a{
    text-decoration: none;
    color: #498374;
    font-weight: bold;
}
